<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM_V1">

<listeners>
<listener class-name="com.OrangeHRM.utilities.Reporting">
</listener>
</listeners>


<test name="OrangeHRMApp Test">
<parameter name="browser" value="chrome"/>

<classes>
 <!-- <class name="com.OrangeHRM.Testcases.TC_LoginTest_001"/> -->
 <class name="com.OrangeHRM.Testcases.TC_loginDDT_002"/>

</classes>
</test>
</suite>